﻿@model ElectricStore.Models.Customer

@{
    ViewData["Title"] = "AddToShoppingList";
}

<h1 class="title">Add Products to Shopping List</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <form method="post"  asp-action="AddToShoppingList">
            <div class="form-group row">
                <label asp-for="SelectedProductsList" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="SelectedProductsList" asp-items="ViewBag.ProductsList" class="form-control">
                  
                    </select>
                    <span asp-validation-for="SelectedProductsList"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Address" type="text" class="form-control" placeholder="Address" required>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="Email" type="email" class="form-control" placeholder="email@example.com" required>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="Phone Number" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button id="formButton" type="submit" class="btn btn-outline-primary">
                        Add to Shopping List
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}


